body {
/*	background-color: orange;
	margin: 0em;
	width:100%;
	height:100%;*/
}

#root {
	position: absolute;
	background-color: orange;
	margin: 0em;
	width:100%;
	height:100%;
}

input {
  height: 80px;
  font-size:40px;
  text-align: center; 
}

#reklama75 {
	background-color: #E3E3E3;
	height: 75%;
	margin: auto;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
  	align-items: center;
}

#reklama50 {
	background-color: #E3E3E3;
	height: 50%;
	margin: auto;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
  	align-items: center;
}

#reklama25 {
	background-color: #E3E3E3;
	height: 25%;
	margin: auto;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
  	align-items: center;
}

#el33 {
	background-color: orange;
	height: 33%;
	margin: auto;
	width: 100%;
	position: relative;
	text-align: center;
}

#dol25 {
	background-color: orange;
	height: 25%;
	margin: auto;
	width: 100%;
	position: relative;
	text-align: center;
}

#dol50 {
	background-color: orange;
	height: 50%;
	margin: auto;
	width: 100%;
	position: relative;
	text-align: center;
}

#dol75 {
	background-color: orange;
	height: 75%;
	margin: auto;
	width: 100%;
	position: relative;
	text-align: center;
}
